* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container {
    background-color: #161E26;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    height: 100%;
}

@keyframes pulse-bg {
    0% { opacity: 0.4; }
    50% { opacity: 0.6; }
    100% { opacity: 0.4; }
}

.navigation {
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    text-align: center;
    margin-top: 0;
    position: relative;
    padding: 0 20px; /* Add padding for smaller screens */
}

.upper-text  h1 {
    font-size: 8.5rem;
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: 0px; 
}

.button {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 10;
    border-style: none;
    background: #FA9800;
    padding: 15px 40px;
}

.button:hover {
    background-color: #ce7e03;
    transform: scale(1.05);
}
.logo-name {
    color:  #fff;
}
.lower-text {
    font-size: 3rem;
    position: relative;
    top: -20px;
    font-weight: 700;
}

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 77, 77, 0.9);
    color: white;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.warning-overlay p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Show the warning overlay */
.show-warning {
    opacity: 1;
    visibility: visible;
}

/* Media Queries for Responsiveness */
@media (max-width: 851px) {
    .upper-text  h1 {
    font-size: 7rem;
    }
    
    .timer {
        width: 14%;
    }
    img {
        width: 200px;
    }
    .lower-text {
        font-size: 2.5rem;
    }

    .glitch-text {
        font-size: 6rem;
    }

    .button, .admin-button {
        font-size: 1.3rem;
    }

    .warning-overlay {
        font-size: 4rem;
    }

    .warning-overlay p {
        font-size: 1.2rem;
    }
}
@media (max-width: 650px) {
    .upper-text  h1 {
    font-size: 5.5rem;
    }
    .lower-text {
        font-size: 2.3rem;
    }
    #student-id {
        font-size: 15px;
    }
    button {
        padding: 10px;
        font-size: 1rem;
    }
    button#search-btn {
        padding: 10px;
        font-size: 1rem;
    }
    #staff-btn {
        font-size: 1rem;
    }
    #s-manual {
        right: 0;
    }
}
@media (max-width: 570px) {
    .upper-text  h1 {
        font-size: 5rem;
    }
    .timer {
        width: 12%;
    }
    .lower-text {
        font-size: 2.1rem;
        margin-top: 10px;
    }
    #student-id {
        font-size: 17px;
    }
    button#search-btn {
       font-size: 17px; 
    }
    .button {
       font-size: 1.1rem;
    }
    #staff-btn {
        font-size: 18px;
    }
   
}
@media (max-width: 480px) {
    .upper-text h1 {
        font-size: 70px;
    }
    .lower-text {
        font-size: 25px;
        top: -15px;
    }
    .glitch-text {
        font-size: 4rem;
    }
    .student-id-text {
        width: 345px;
        font-size: 15px;
    }
    .warning-overlay {
        font-size: 3rem;
    }

    .warning-overlay p {
        font-size: 1rem;
    }
    button#search-btn {
       top: 6px;
    }
    #closeStaff {
       top: 13px;
       right: 10px;
    }
    #closeAdmin {
       top: 13px;
       right: 10px;
    }

    input[type="text"]#student-id {
       font-size: 18px;
       margin-top: 20px;
    }
}
@media (max-width: 425px) {
    .upper-text h1 {
        font-size: 3.7rem;
    }
   input[type="text"]#student-id {
       font-size: 16px !important;
       margin-top: 20px;
    }
   #staff-btn {
        font-size: 16px;
        padding: 15px;
    }
   .student-manual-btn {
       font-size: 15px !important;
        left: 50%;
        transform: translateX(-50%);
        width: 11rem !important; 
    }
   #search-btn {
       width: 70px !important;
       height: 45px !important;
   }
   img.search-icon {
       width: 30px !important;
   }
}
@media (max-width: 376px) {
   img.nav-logo {
      width: 60px;
      height: 60px;
   }
   .admin-button span {
      display: none;
   }
   .admin-button {
      border-bottom: none !important;
      text-align: right !important;
   } 
  #closeAdmin, #closeStaff {
      right: 17px !important;
      width: 6% !important;
   }
   .close {
      font-size: 1.3rem !important;
   }
   .student-manual-btn {
      font-size: 13px !important;
      width: 10rem !important;
      margin-bottom: 10px;
   }
   img.manual {
      width: 68px !important;
      height: 70px !important;
   }
}
@media (max-width: 366px) {
    .upper-text h1 {
        font-size: 3rem;
    }
}
@media (max-width: 320px) {
    .upper-text h1 {
        font-size: 3rem;
    }
    input[type="text"]#student-id {
        font-size: 15px !important;   
        padding: 9px;
    }
    button#search-btn {
        top: 5px;
    }
    #search-btn {
        width: 50px !important;
        height: 40px !important;
    }
    img.search-icon {
        width: 25px !important;
    }
    .admin-button {
        position: relative;
        right: -20px;
    }
    img.admin-icon {
        width: 27px;
        height: 27px;
    }
    .modal-content {
        width: 325px !important;
        padding: 25px !important;
    }
    input[type="text"], input[type="password"] {
        width: 270px !important;
    }
    .login-btn {
        width: 270px !important;
    }
}
form {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin-top: 10px; /* Space between Appeal button and button group */
}

.staff-button {
    margin: 0 10px; /* Space between the Admin and Staff buttons */
}
/* General Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly darker background */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: #6b7b8773;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 35px;
    border-radius: 10px;
    width: 395px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    position: relative;
    justify-items: center;
}
.modal-content-student-record {
    background: #6b7b8773;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    width: 700px;
    height: 80%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    position: relative;
    justify-items: center;
}

.logo {
    width: 90px;
    position: relative;
    top: -6px;
    animation: pulse-logo 1.5s infinite;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 45px;
}

h2 {
    font-size: 2.3rem;
    color: #ff4d4d;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(255, 77, 77, 0.8);
    top: 5px;
    left: 5px;
    position: relative;
}

h3 { 
    text-shadow: 0px 0px 5px #cd9540c7;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 320px;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 17px;
    outline: none;
    transition: border 0.3s ease;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));  
     
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0px 0px 10px rgb(20 129 163 0);
}
input[type="text"]#student-id {
    width: 100%;
    max-width: 500px;
    font-size: 20px;
}
input[type="text"]#student-id:hover {
    filter: drop-shadow(0px 1px 25px rgba(107, 123, 135, 0.5));
}

.login-btn {
    width: 320px;
    padding: 11px;
    background-color: #fa9800;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: #ce7e03;
    box-shadow: 0px 0px 15px #ce7e03;
}

/* Button Pulse Effect */
@keyframes pulse-btn {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.close {
    position: absolute;
    top: -40px;
    right: -38px;
    font-size: 1.7rem;
    cursor: pointer;
}

#closeAdmin,
#closeStaff {
    color: #fff;
    transition: color 0.3s ease;
    background: #00000061;
    border-radius: 20px;
    width: 8%;
    text-align: center;
}

.nav-logo {
   width: 75px;
   height: 75px;
   position: relative;
}
.admin-icon {
   width: 30px;
   height: 30px;
   position: relative;
   right: 7px;
   top: 4px;
}
#search-student-form {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: -12px;
   left: 20px;
}
#search-btn {
   padding: 3px;
   border-radius: 20px;
   position: relative;
   left: -45px;
   top: 0;
   font-size: 1.2rem;
   background: #fa9800;
   width: 73px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
img.search-icon  {
   width: 40px;
   object-fit: cover;
}
.timer {
   position: relative;
   width: 14%;
}
.nav-modal {
   display: flex;
   align-items: center;
}
#modal-btn {
   border-radius: 10px;
}
.nav img {
   width: 60px;
}
.nav {
    padding: 20px;
    width: 100%;
    top: 0;
    display: flex;
    position: relative;
    justify-content: right;
}
.container_s-manual {
    width: 100%;
    background: #6B7B87;
    top: 0;
    z-index: -1;
}
.content_s-manual {
    display: flex;
    justify-content: center;
    align-items: center;
}
img.manual {
    width: 75px;
    height: 75px;  
    position: absolute;
    bottom: 0;
    left: -25px;
}
.manual-title {
    position: relative;
    left: 50px;
}
.manual-title h1 {
    font-size: 6rem;
    width: 50rem;
}
.admin-icon:hover {
    border: 1px solid #fa9800;
    border-radius: 20px;
    padding: 1px;  
}
.admin-button a {
   color: #fff;
   text-decoration: none;
   font-size: 13px;
}
.admin-button {
    padding: 3px;
    border-radius: 10px;
    width: 100px;
    border-bottom: 1px solid #6B7B87;
}
.admin-button:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #fa9800;;
}
.student-manual-btn {
    border-radius: 10px;
    background: #0E1216;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 35px;
    width: 13rem;
    text-align: right;
    padding: 15px;
}
.student-manual-btn a {
    text-decoration: none;
    color: #ffffff;
}

.password-container {
    position: relative;
    width: 320px;  /* Set the container width */
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;  /* Make the input field take up the full width of the container */
    padding-right: 40px;  /* Add extra padding on the right to accommodate the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #888;
}

.s-manual {
    width: 100%;
    position: relative;
    left: 85px;
}


.table-container-light {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  padding: 70px;
}

.table-container-serious {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  padding: 50px;
}
.table-container-v-serious {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  padding: 50px;
}


.responsive-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.responsive-table th, .responsive-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.responsive-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.responsive-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive styling */
@media (max-width: 600px) {
  .responsive-table thead {
    display: none;
  }
  
  .responsive-table tr {
    display: block;
    margin-bottom: 15px;
  }

  .responsive-table td {
    display: flex;
        justify-content: end;
        position: relative;
        text-align: left;
        padding-left: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
        padding: 10px;
  }

  .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.student-info {
    position: relative;
    top: 20px;
}
.student-info img {
    object-fit: cover;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    left: 15px;
}
.student-details {
    position: relative;
    top: -125px;
    left: 180px;
}
.student-details p {
    margin-bottom: 10px;
    color: #fff;
}
#violation-details {
    width: 100%;
}
#violation-details h2 {
    text-align: center;
    color: #fa9800;
    text-shadow: 0px 0px 5px #e08e0f;
}
.student-violation-record th {
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid;
}
.student-violation-record td {
    text-align: center;
    padding: 10px;
}
.student-violation-record {
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    top: -95px;
    background: #0e1216ad;
}
th.time-remaining {
    position: absolute;
    bottom: -70px;
    left: 135px;
    border-bottom: none;
}
td.time-remaining {
    position: absolute;
    bottom: -70px;
    width: 100%;
    left: 82px;
    
}
.time-remaining img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    left: -8px;
}
a#forgotStaffPassword {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1024px) {
    .modal-content-student-record {
        top: 7px !important;
        height: 440px;
    }
    th.time-remaining {
        bottom: -55px;
    }
    td.time-remaining {
        bottom: -55px;
    }
}
@media (max-width: 769px) {
    #closeViolationModal {
        top: 15px;
        right: 20px;
    }
}
@media (max-width: 426px) {
    .modal-content-student-record {
        height: 100%;
    }
    .student-info img {
        left: 110px;
        top: 0;
        height: 110px;
        width: 110px;
    }
    .student-details {
        position: static;
    }
    .student-violation-record {
        top: 30px;
       
    }
    #closeViolationModal {
        top: 20px;
        right: 20px;

    }
    .student-details p {
        margin-bottom: 5px;
        top: 20px;
        position: relative;
    }
    td.time-remaining {
        bottom: -85px;
        left: 10px;
    }
    th.time-remaining {
        left: 75px;
    }
}
@media (max-width: 376px) {
    #violation-details h2 {
        font-size: 28px;
    }
    .student-info img {
        left: 90px;
        top: -5px;
        height: 105px;
        width: 105px;
    }
    th.time-remaining {
        left: 45px;
    }
    td.time-remaining {
        left: 5px;
    }

}
@media (max-width: 320px) {
    .student-details p {
        font-size: 15px;
    }
    #closeViolationModal {
        top: 10px;
        right: 30px;
    }
}
